@import "compass/css3";
@import "sprites/*.png";
@include all-sprites-sprites;

* { zoom: 1; }
html{
	height: 100%;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    filter: expression(document.execCommand('BackgroundImageCache', false, true));
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
	color: rgba(255, 255, 255, .8);
	font-family: Georgia;
}
a {
	text-decoration: none;
	color: #fff;
	color: rgba(255, 255, 255, .8);
}
a img { border: none}
.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }
.bold { font-weight: bold;}
input[type=submit],
button {
	font-family: inherit;
	cursor: pointer;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
::-moz-selection {
	background: rgba(84, 27, 0, .8);
	color: #fff;
	text-shadow: none;
}
::selection {
	background: rgba(84, 27, 0, .8);
	color: #fff;
	text-shadow: none;
}

.wrapper {
	position: absolute;
	width: 1000px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -500px;
}
h1 {
	margin: 0 0 30px 0;
	font-size: 80px;
	color: #fff;
	color: rgba(255, 255, 255, .8);
}
h2,
.h3_wrapper {
	padding: 10px;
	margin-right: 30px;
	background: rgba(0, 0, 0, .6);
}
h2 {
	font-size: 30px;
}
h3 {
	margin: 0;
	line-height: 1.4;
	font-size: 20px;
}
.facebook_link {
	display: block;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	box-shadow: 0 0 15px rgba(255, 255, 255, .6);
	@include transition-property(all);
	@include transition-duration(.3s);

	&:hover {
		box-shadow: 0 0 22px rgba(255, 255, 255, .8);
	}
}

.left {
	width: 400px;
}
.right {
	width: 600px;
}
.section {
	padding: 7px;
	margin-bottom: 10px;
	background: #000;
	background: rgba(0, 0, 0, .6);
	color: #efefef;
}
p {
	margin: 0;
}
.quote {
	margin-bottom: 20px;
	font-size: 20px;
	font-style: italic;
}
.author {
	text-align: right;
}
.download {
	width: 223px;
	height: 60px;
	padding: 8px 20px;
	margin: 0 auto;
	background: #000;
	background: rgba(0, 0, 0, .4);
}
.itunes {
	float: left;
	display: block;
	width: 60px;
	height: 60px;
}
.amazon_wrapper {
	position: relative;
	float: left;
	width: 123px;
	height: 23px;
	padding: 4px;
	margin-right: 30px;
	top: 17px;
	background: #fff;
	background: rgba(255, 255, 255, .9);
	@include border-radius(4px);
}
.amazon {
	float: left;
	display: block;
	width: 123px;
	height: 23px;
}